<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.org/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/asset</property>
        <property name="hibernate.connection.username">khoders</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.dialet">org.hibernate.dialet.MySQL5Dialet</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="com.khoders.asset.entities.auth.UserAccount"/>
        <mapping class="com.khoders.asset.entities.auth.Role"/>
        <mapping class="com.khoders.asset.entities.Location"/>
        <mapping class="com.khoders.asset.entities.AssetTransfer"/>
        <mapping class="com.khoders.asset.entities.Category"/>
        <mapping class="com.khoders.asset.entities.Company"/>
        <mapping class="com.khoders.asset.entities.Employee"/>
        <mapping class="com.khoders.asset.entities.Vendor"/>
        <mapping class="com.khoders.asset.entities.Department"/>
        <mapping class="com.khoders.asset.entities.AssetRequestApproval"/>
        <mapping class="com.khoders.asset.entities.Inventory"/>
        <mapping class="com.khoders.asset.entities.InventoryItem"/>
        <mapping class="com.khoders.asset.entities.Asset"/>
        <mapping class="com.khoders.asset.entities.AssetDispatchRequest"/>
        <mapping class="com.khoders.asset.entities.maintenance.Occurrence"/>
        <mapping class="com.khoders.asset.entities.maintenance.InstructionSet"/>
        <mapping class="com.khoders.asset.entities.maintenance.RequestType"/>
        <mapping class="com.khoders.asset.entities.maintenance.MaintenanceTask"/>
        <mapping class="com.khoders.asset.entities.maintenance.MaintenanceRequest"/>
        <mapping class="com.khoders.asset.entities.maintenance.StartWork"/>
        <mapping class="com.khoders.asset.entities.accounts.ChartOfAccount"/>
    </session-factory>

</hibernate-configuration>
